body{
font-family:Arial;
text-align:center;
background:#fff7f0;
}

h1{
color:#ff6600;
}

form{
width:300px;
margin:auto;
display:flex;
flex-direction:column;
}

input{
padding:10px;
margin:10px;
}

button{
padding:10px;
background:#ff6600;
color:white;
border:none;
cursor:pointer;
}
